@model trainMVC1.Models.LesNombres

<div class="row gy-2">
    <h1>Enter numbers</h1>
    <form asp-action="Calculer" asp-controller="Home" method="post">
        <div class="col-6">
            <p>Choose Number 1</p>
            <input asp-for="InputNumber1" class="from-control" value="@Model.InputNumber1" placeholder="Number 1" />
        </div>
        <div class="col-6 ">
            <p>Choose Number 2</p>
            <input asp-for="InputNumber2" class="from-control" value="@Model.InputNumber2" placeholder="Number 2" />
        </div>
        <div class=" mt-3">
            <button id="btnSubmit" type="submit" class="btn btn-primary"> Click </button>
        </div>
    </form>
    <p>@Model.NotNumbers</p>
    <h1>Results number1*number2</h1>
    <p>@Model.ResultMul</p>
    <h1>Results number1/number2</h1>
    <p>@Model.ResultDiv</p>
</div>


